@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.button-border {
    border-color: #7fb8fd;
    border-width: 3px;
}

.footer-font {
    font-size: 12px;
}

.center {
    margin: 0 auto;
}

.icon-size {
    max-width: 30px;
    max-height: 30px;
}

.bg-lightblue {
    background-color: #d7ebf9;
}