@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.button-border {
    border-color: #7fb8fd;
    border-width: 3px;
}

.footer-font {
    font-size: 12px;
}

.footer-margin {
    height: 52px;
}

.center {
    margin: 0 auto;
}

.bg-orange {
    background-color: orange;
}

.bg-purple {
    background-color: purple;
}